<div class="card">
  <div class="card__image">
    <img src="{%IMAGE%}" alt="{%PRODUCT_NAME%}" />
  </div>
  <div class="card__title--box">
    <h2 class="card__title">{%PRODUCT_NAME%}</h2>
  </div>
  <div class="card__details">
    <div class="card__details--box {%NOT_ORGANIC%}">ORGANIC!</div>
    <div class="card__details--box">{%QUANTITY%} per box</div>
    <div class="card__details--box">{%PRICE%} VND</div>
  </div>
  <a href="/product?id={%ID%}" class="card__link">
    <span>Detail</span>
  </a>
</div>
